// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     1024px !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

//Colors
$color-primary: #a6d610;
$color-seconary: #fbad18;
$color-red: #FF0000;
$color-green: #3AC43D;

$rw-font-path:        "~react-widgets/lib/fonts/";
$rw-img-path:         "~react-widgets/lib/img/";