/* Scss Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic-ext');

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  min-height: 80px;
  padding: 8px;

  @media (max-width: $grid-float-breakpoint) {
    padding-right: 60px;
    margin-right: -60px;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      max-width: 397px;
    }
  }
}

.navbar-default {
  background-color: #FBFBFB;
  border: 0;

  /*@media (max-width: 767px) {
      .collapse, .collapsing {
          /*background-color: #FFFFFF;
      }
  }*/

  .navbar-nav {
    padding: 16px;
    font-weight: 700;

    .active a, > li > a {
      color: #000;
      background-color: transparent;

      &:hover, &:focus {
        color: $color-primary;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.navbar-toggle {
  margin-top: 23px;
}

.content-container {
  margin-top: 36px;
}

.booking-form-container {
  background-image: url(../img/sg-clean.jpg);
  background-size: cover;
  background-position: center center;
  padding: 32px;
  margin-bottom: 16px;

  @media (min-width: $grid-float-breakpoint-max) {
    height: 506px;
    .slogan {
      padding-top: 68px;
    }
  }

  .booking-form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: 1px solid #CCC;
    padding: 16px;

    h2 {
      padding: 8px;
      margin: 0;
    }
  }
}

.booking-details {
  min-height: 520px;
  background-image: url(../img/b-success.jpg);
  background-size: cover;
  background-position: center top;
  margin-bottom: 16px;
  padding-top: 24px;

  .booking-details-message {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 24px 0;
    padding: 16px;
    border: 1px solid #CCC;
    border-radius: 16px;
  }
}

.btn-green {
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary - #101010;

  &:hover {
    color: #fff;
    background-color: $color-primary - #101010;
    border-color: $color-primary - #202020;
  }
  &:active {
    color: #fff;
    background-color: $color-primary - #202020;
    border-color: $color-primary - #252525;
  }
  &:focus {
    color: #fff;
  }
}

.validation-error {
  select, input {
    border-color: $color-red;
  }

  .help-block {
    color: $color-red;
    font-size: 12px;
  }
}

.validation-success {
  select, input {
    border-color: $color-green;
  }
}

form {
  select.error, input.error {
    border-color: $color-red;
  }
  label.error {
    color: $color-red;
    font-size: 12px;
  }
  select.valid, input.valid {
    border-color: $color-green;
  }
}

.messages-wrapper {
  padding: 64px 24px;
}